@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?a8vun1');
  src:  url('../fonts/icomoon.eot?a8vun1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a8vun1') format('truetype'),
    url('../fonts/icomoon.woff?a8vun1') format('woff'),
    url('../fonts/icomoon.svg?a8vun1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e900";
}
.icon-delete:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-shopping-bag:before {
  content: "\e904";
}
.icon-credit-card:before {
  content: "\e905";
}
.icon-bank:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
}
.icon-weightlifting:before {
  content: "\e908";
}
.icon-delivery-truck:before {
  content: "\e909";
}
.icon-world:before {
  content: "\e90a";
}
.icon-tickets:before {
  content: "\e90b";
}
.icon-video-marketing:before {
  content: "\e90c";
}
.icon-fork:before {
  content: "\e90d";
}
.icon-share:before {
  content: "\e90e";
}
.icon-book:before {
  content: "\e90f";
}
.icon-google-plus:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e911";
}
.icon-facebook-logo:before {
  content: "\e912";
}
.icon-arrow-down:before {
  content: "\e913";
}
.icon-heart:before {
  content: "\e914";
}
.icon-user:before {
  content: "\e915";
}
.icon-building:before {
  content: "\e916";
}
