html{
    scroll-behavior: smooth;

}
body{
    background-color: #f5f7fa;
    color: #464646;;
}
h1{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 25px;
}
h4{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 5px;
}
a{
    color: #5f61f6;
}
a:hover{
    color: #5f61f6;
    text-decoration: none;
}
.btn-primary{
    border-color: #5f61f6;
    background-color: #5f61f6;
}
.btn-primary.active, .btn-primary:hover{
    border-color: #dedede !important;
    color: #444444 !important;
    background-color: #fff !important;
}

.btn-primary:focus, .btn-primary.active:focus{
    box-shadow: none !important;
}
header{
    position: fixed;
    width: 100%;
    z-index: 999;
}
header .navbar{
    display: inline-block;
    width: 100%;
    background: #f9f9f9;
    box-shadow: 0px 0px 3px #cecece;
}
header .btn-primary{
    min-width: 100px;
}
footer{
    background: #fff;
    box-shadow: 0px 0px 3px #cecece;
    padding: 14px 0px;
    font-size: 16px;
    color: #8a8989;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.footer-links ul{
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0px;
    text-align: right;
}
.footer-links ul li{
    display: inline-flex;
    padding: 5px 10px;
    cursor: pointer;
}
.footer-links ul li i{
    width: 30px;
}
.login-form-outer{
    max-width: 500px;
    margin: 0 auto;
    padding: 126px 0px 100px;
}
.login-cards-outer{
    margin-bottom: 25px;
    text-align: center;
}
.login-cards{
    width:225px;
    height:150px;
    background: #fff;
    display: inline-block;
    margin: 10px 10px 15px;
    transition: 0.25s ease all;
    border-radius: 5px;
    padding-top: 24px;
    cursor: pointer;
}
.login-cards.active, .login-cards:hover{
    box-shadow: 0px 0px 5px #d4d4d4
}
.login-cards:hover i{
    color: #5f61f6;
}
.login-cards.active i{
    color: #5f61f6;
}
.login-cards span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.card-icon{
    font-size: 40px;
    margin-bottom: 7px;
    color: #d3d3d3;
}
.card-icon i{
    transition: 0.25s ease all;
}
.login-form{
    max-width: 85%;
    margin: 0 auto;
}
.form-group input{
    background: #fbfbfb;
}
.login-form button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}
.switch-to-register{
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
.switch-to-register a{
    padding-left: 7px;
}
.login-form .form-check{
    padding: 10px 0px 10px 1.75rem;
    color: #b0b0b1;
}

.user-info{
    display: inline-block;
    width: 100%;
}
.user-menu, .user-name, .side-bar-menu{
    display: inline;
}
.user-info img{
    max-width: 40px;
    border-radius: 50%;
    margin-right: 0px;
    padding: 2px;
    border: 1px solid #c4c4c4;
}

.user-menu{
    position: relative;
    padding: 0px 10px;
}
.user-menu a{
    color: #444444;
}
.user-menu .dropdown-menu.show{
    left: unset;
    right: 0;
    top: 48px;
}
.side-bar-menu{
    padding-left: 24px;
    position: relative;
    padding-right: 12px;
}
.side-bar-menu::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 76px;
    left: 0;
    top: -25px;
    background-color: #c6c6c6;
}

/* welcome Page CSS */
.welcome-section, .questions-main{
    padding-top: 50px;
    padding-bottom: 125px;
}
.welcome-section h4{
    padding-bottom: 10px;
    color: #666666;
    font-weight: normal;
}
.welcome-section .login-cards{
    width: 100%;
    padding: 20px;
    height: 190px;
    margin: 0px 0px 20px;
}
.welcome-section .login-cards span{
    text-align: left;
}
.welcome-section .login-cards .card-head{
    height: 48px;
    overflow: hidden;
    font-weight: 500;
    color: #444444;
    word-break: break-all;
}
.questions-no{
    font-size: 16px;
    color: #a1a1a1;
}
.login-btn{
    color: #fff;
    display: block;
}
.btn-primary:hover .login-btn{
    color: #444444;
}

/* Questions page CSS */
.selected-industry{
    color: #5f61f6;
    position: relative;
}
.selected-industry::after{
    content: "\e913";
    position: absolute;
    right: -42px;
    font-family: 'icomoon';
    font-size: 20px;
    font-weight: 100;
    top: 6px;
}
.industry-head-main{
    position: relative;
    display: inline-block;
}
.industry-head-main .dropdown-menu.show{
    right: 0px;
    left: unset !important;
    transform: none !important;
    z-index: 998;
    top: 40px !important;
}
.industry-option-menu .active{
    background-color: transparent;
    color: #5f61f6;
}
.questions-main h2{
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.by-module-main .nav-link{
    display: inline-block;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 20px;
    color: #444444;
    padding: 7px 16px;
    transition:0.25s ease all;
}
.by-module-main .nav-link.active, .by-module-main .nav-link:hover{
    background: #5f61f6;
    color: #fff;
}
.by-module-main li{
    display: block;
    width: 100%;
}
.questions-list{
    list-style-type: none;
    padding-left: 0;
    font-size: 16px;
    font-weight: 500;
}
.questions-list li{
    position: relative;
    background: #fff;
    padding: 15px 40px 15px 10px;
    box-shadow: 0px 0px 2px #dbdbdb;
    border-radius: 5px;
    margin-bottom: 10px;
}
.questions-list li input[type='checkbox']{
    position: absolute;
    opacity: 0;
}
.questions-list li input[type='checkbox']{
    position: absolute;
    right: 15px;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.questions-list li input:checked ~ .checkmark {
    background-color: #5f61f6;
    border-color: #5f61f6;
  }
.checkmark {
    position: absolute;
    top: 20px;
    right: 15px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #bcbaba;
    border-radius: 2px;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .questions-list li input:checked ~ .checkmark:after {
    display: block;
  }
.checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .add-question-box{
      padding-right: 120px !important;
  }
  .add-question-box input{
    width: 100%;
    border: none;
    padding: 5px;
  }
.add-question-box button{
    line-height: 0;
    height: 38px;
    padding: 6px 10px;
    width: 90px;
    position: absolute;
    right: 14px;
    top: 13px;
    background: #fff;
    border-color: #bcbaba;
    color: #444444;
  }
.question-select-head{
    position: relative;
}
.question-select-head h5{
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 16px;
    color: #5f61f6;
    cursor: pointer;
}
.question-select-btns{
    padding-top: 25px;
}
.question-select-btns button{
    min-width: 100px;
}
.question-select-btns .reset-all{
    border: none;
    background: transparent;
    color: #5f61f6;
}
.question-select-btns .reset-all:hover{
    background: transparent !important;
    color: #5f61f6 !important;
}

.sidebar-questions {
    position: fixed;
    top: 60px;
    bottom: 0px;
    right: 0;
    width: 300px;
    background: #fff;
    padding: 35px 15px 90px;
    box-shadow: 0px 0px 3px #cecece;
    overflow-y: auto;
}

.sidebar-questions .form-control{
    border-radius: 30px;
    padding: 7px 15px;
    color: #444444;
    -webkit-appearance: none;
    position: relative;
}
.sidebar-questions .form-group{
    position: relative;
}
.sidebar-questions .form-group:after{
    content: "\e913";
    position: absolute;
    right: 12px;
    top:9px;
    font-family: 'icomoon';
}

.sidebar-questions .form-control:focus{
    border-color: #ced4da !important;
    box-shadow: none;
}
.sidebar-questions  ul{
    padding-left: 0px;
    list-style-type: none;
}
.sidebar-questions  ul li{
    padding-right: 25px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 6px;
    color: #8b8b8b;
    position: relative;
    cursor: pointer;
}

.sidebar-questions  ul li i{
    position:absolute;
    right: 0px;
    top: 5px;
    font-family: 'icomoon';
    opacity: 0;
}
.sidebar-questions ul li:hover, .sidebar-questions ul li:hover i{
    color: #696969;
    opacity: 1;
}

.tab-heading h5{
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 12px;
    padding: 8px 0px;
    position: relative;
}
.tab-heading h5::after{
    position: absolute;
    right: 0;
    font-size: 14px;
    content: "\e900";
    font-family: 'icomoon';
}
.tab-heading h5.collapsed::after{
    position: absolute;
    right: 0;
    font-size: 14px;
    content: "\e902";
    font-family: 'icomoon';
}
.export-btn{
    width: 100%;
    background: #fff;
    border-color: #bcbaba;
    color: #444444;
    margin-top: 10px;
}
input[type="radio"]:checked + .login-cards{
    box-shadow: 0px 0px 5px #d4d4d4
}
input[type="radio"]:checked + .login-cards i{
    color: #5f61f6;
}

@media (max-width: 991px){
    footer .container{
        max-width: 100%;
    }
}
@media (max-width: 767px){    
    .by-module-main li {
        display: inline-block;
        width: auto;
        margin-right: 10px;
        margin-bottom: 15px;
    }
    footer{
        text-align: center;
    }
    .footer-links ul{
        text-align: center;
    }
}
@media (max-width: 575px){
    .add-question-box{
        padding-right: 15px !important;
    }
    .add-question-box .btn{
        position: unset;
        margin-top: 25px;
    }
    .login-cards-outer .login-cards{
        width: 122px;
        padding: 24px 5px 5px;
    }
}
@media (max-width: 375px){
    .login-form .form-check-label{
        font-size: 14px;
    }
    .user-name .user-name{
        display: none;
    }
    .side-bar-menu{
        padding-left: 0px;
        padding-right: 0px;
    }
    .side-bar-menu::before{
        display: none;
    }
    .user-menu{
        padding: 0px 6px;
    }
}
